/* Clock styling from https://codepen.io/dervondenbergen/pen/dVPOwB */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%;
  }
  
  body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .clockAndTimezone {
    display: flex; 
    font-family: sans-serif;
    color: white;
    height: 20vh;
  }
  .clock {
    display: flex;
    font-size: 22vh;

    line-height: 20.4vh;
    display: flex;
    position: relative;
    /*background: green;*/
  }
  
  .clock::before, .clock::after {
    content: '';
    width: 7ch;
    height: 3vh;
    background: linear-gradient(to top, transparent, black);
    position: absolute;
  }
  
  .clock::after {
    bottom: 0;
    background: linear-gradient(to bottom, transparent, black);
  }
  
  .clock > div {
    display: flex;
  }

  .timezone {
    color: white;
    font-family: sans-serif;
    font-size: 3vh;
    display: flex; 
    flex-direction: column;
    margin-left: 3vh;
  }
  
  .tick {
    line-height: 17vh;
  }
  
  .tick-hidden {
    opacity: 0;
  }
  
  
  