/* Clock styling from https://codepen.io/dervondenbergen/pen/dVPOwB */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%;
  }
  
  body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .showClock {
    display: '';
  }
  
  .clockAndTimezone {
    display: flex; 
    font-family: sans-serif;
    color: white;
    height: 20vh;
    margin-top:10px;
  }
  .clock {
    display: flex;
    font-size: 80px;

    line-height: 20.4vh;
    display: flex;
    position: relative;
  }
  
 
  
  .clock > div {
    display: flex;
  }

  .timezone {
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 70px;
    display: flex; 
    flex-direction: column;

  }
  
  .tick {
    line-height: 19vh;
  }
  
  .tick-hidden {
    opacity: 0;
  }
  
.convertTime {
    display: none;
    flex-direction: column;
}

.clockDivider {
    display: flex; 
    font-family: sans-serif;
    color: white;
    font-size: 30px;
}
/* Select code from w3schools */ 
/* The container must be positioned relative: */
.custom-select {
    position: relative;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: DodgerBlue;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    width:100%;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

 